@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  --dark-color: #1b1c1e;
  --light-color: #fefdfb;
  --gray-color: #888888;
  --accent-color: #759bd9;
  --dark-overlay: 0.8;
  --light-overlay: 0.3;
  --dark-rgb: 0;
  --light-rgb: 200;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-input-wrapper {
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  flex-direction: column;
  position: relative;
  min-width: 20%;
  max-width: 250px;
  background: white;
  margin: 0 auto;
  padding: 1rem;
  color: var(--gray-color);
}

.password-input-wrapper input {
  padding: 0.3rem 0;
  margin: 0.5rem 0.25rem;
  border-radius: 0;
  outline: none;
  border: none;
  border-bottom: 2px var(--gray-color) solid;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.eye-icon {
  position: absolute;
  width: 25px;
  right: 20px;
  top: 50px;
  cursor: pointer;
}

.eye-icon:hover {
  fill: var(--accent-color);
}

#eye-slash-icon-login {
  display: none;
}

.background-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  min-width: 100vw;
  height: 100vh;
}

.background-image img {
  min-width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(
    var(--dark-rgb),
    var(--dark-rgb),
    var(--dark-rgb),
    var(--dark-overlay)
  );
  transition: all 0.3s ease-in-out;
}
button {
  background: var(--accent-color);
  color: var(--light-color);
  border-radius: 1.2rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.success-reset {
  background: var(--light-color);
  display: none;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  max-width: 250px;
  flex-direction: column;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.5rem 2rem;
  padding-bottom:1.2rem;
  transform: translate(-50%, -50%);
}

.success-reset h1 {
  font-size: 1rem;
}

.success-reset button {
  font-size: 0.8rem;
}

.show {
  display: flex !important;
}

.hide {
  display: none;
}

.sign-up-error {
  margin-left: 1.25rem;
  margin-top: 1rem;
  display: none;
}

.sign-up-error h4 {
  color:var(--dark-color);
}

.error-variables {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.9rem;
}

.sign-up-error p {
  padding-left: 0;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.error-login {
  border-bottom: 2px red solid !important;
}
