@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background:rgb(14, 14, 14);
}

main {
  margin:0 2rem;
}



.used {
  color:red;
}

.reset-button {
  position: absolute;
  top:10px;
  right:10px;
  background:white;
  color:black;
  border-radius: 1.2rem;
  font-size:1.25rem;
  border:none;
  cursor: pointer;
  padding:0.5rem 1rem;
}

input {
  outline:none;
  border-radius: 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  background:transparent;
  border:3px white solid;
  border-radius: 1.2rem;
  color:white;;
}

.fc-scrollgrid {
  color:white;
}

.fc-toolbar-title {
  color:white;
}


/* Actually in order here */

main {
  display:none;
}

section {
  position:absolute;
  background:white;
  border-radius: 1rem;
  padding:2rem 1rem;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

section h1 {
  text-align: center;
}

section form {
  display:flex;
  flex-direction: column;
}

section button {
  border:2px black solid;
  color:black;
  padding:0.5rem;
  margin-top:1.5rem;
  font-size:1rem;
  margin-bottom:0.5rem;
  cursor:pointer;
}

section button:hover {
  background-color:black;
  color:white;  
}

section input{
  padding:0.5rem;
  margin-top:1.5rem;
  outline:none;
  border:2px black solid;
  padding-left:1rem;
}

section p {
  padding:0.5rem;
  cursor:pointer;
  color:rgb(0, 0, 236);
}

section p:hover {
  color:rgb(0, 0, 236, 0.5);

}

.signup-section {
  display:none;
}

.monthly-allowance-container {
  display: flex;
  flex-direction: column;
  position:absolute;
  background:white;
  margin-top:5rem;
  margin-bottom:1.5rem;
  left: 50%;
  top:30%;
  transform: translate(-50%,-50%);
  padding:2rem;
  border-radius: 1rem;
  z-index:999;
  font-size:0.8rem;
}

.monthly-allowance-container > * {
  margin-bottom:1rem;
}

.monthly-allowance-container button{
  cursor: pointer;
}


.monthly-allowance-container input {
  font-size:1.2rem;
  padding:0.3rem 0;
  padding-left:1rem;
  border:2px black solid;
}

.monthly-allowance-container button{
  margin-top:1.2rem;
  font-size:1.2rem;
  padding:0.5rem 0;
  color:black;
  border:3px black solid;
  transition: all 0.3s ease;
}

.monthly-allowance-container button:hover {
  color:white;
  background:black;
}

.monthly-allowance-container h1 {
  font-size:1.2rem;
}

.total-money-you-can-use-text {
  margin-top:2rem;
}

.money-input-wrapper {
  margin-top:2rem;
}

.money-input-wrapper > * {
  margin: 0.4rem 0;
}

.money-input-wrapper input {
  padding:0.5rem;
  font-size:1rem;
}

.money-input-wrapper button {
  font-size:1rem;
  padding:0.5rem 1rem;
  margin-left:0.5rem;
  cursor:pointer;
}

.money-input-wrapper h1,
.money-input-wrapper h2 {
  color:white;
  font-size:1.5rem;
}

#warning {
  color:white;
}

.hide {
  opacity:0;
  pointer-events: none;
}

.show {
  display:block;
}