@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

:root {
  --dark-color : #1B1C1E;
  --light-color : #FEFDFB;
  --gray-color:#888888;
  --accent-color:#759bd9	;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background:var(--dark-color);
}

main {
  margin:0 2rem;
}



.used {
  color:red;
}

.reset-button {
  position: absolute;
  top:10px;
  right:10px;
  background:var(--light-color);
  color:var(--dark-color);
  border-radius: 1.2rem;
  font-size:1.25rem;
  border:none;
  cursor: pointer;
  padding:0.5rem 1rem;
}

input {
  outline:none;
  border-radius: 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  background:transparent;
  border:3px --light-color solid;
  border-radius: 1.2rem;
  color:var(--light-color);;
}

.fc-scrollgrid {
  color:var(--light-color);
}

.fc-toolbar-title {
  color:var(--light-color);
}


/* Actually in order here */

main {
  display:none;
}

section {
  position:absolute;
  background:var(--light-color);
  border-radius: 1rem;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding-bottom:2rem;
}

section h1 {
  text-align: center;
}

section form {
  display:flex;
  flex-direction: column;
}

section button {
  background-color: var(--accent-color);
  color:var(--light-color);
  border:none;
  padding:0.5rem;
  margin: 0 0.75rem;
  margin-top:2.5rem;
  font-size:1rem;
  margin-bottom:0.5rem;
  cursor:pointer;
}

section button:hover {
  background-color:var(--dark-color);
  color:var(--accent-color);  
}

section input{
  padding:0.3rem 0;
  margin: 0 1rem;
  border-radius: 0;
  outline:none;
  border:none;
  border-bottom:2px var(--gray-color) solid;
  transition:all 0.3s ease-in-out;
  font-size:1rem;
  
}


section p {
  margin-top:0.5rem;
  padding: 0 1rem;
}


section p span{
  cursor:pointer;
  color:var(--accent-color);
  text-decoration: underline;
}

section p span:hover {
  color:#749ddf62;
}

.login-signup-header-wrapper {
  position:relative;
  margin-bottom:1rem;
}

.login-signup-header-wrapper h1 {
  margin-top:1rem;
  margin-bottom:0.5rem;
}

.login-signup-header-wrapper::after{
  content: '';
  position: absolute;
  width:100%;
  height:1px;
  background-color: #808080;
  bottom:-10px;
}



.login-error-message {
  color:red;
  pointer-events: none;
  display:none;
}

.fill-empty-error-message {
  color:red;
  pointer-events: none;
  display:none;
}

.signup-section {
  display:none;
}

.user-name-input-wrapper {
  display:flex;
  flex-direction: column;
  position: relative;
  color:var(--gray-color);
  margin-top:1rem;
  margin-bottom:1rem;
}

.user-name-input-wrapper input:focus {
  border-bottom:2px var(--accent-color) solid;
}

.user-name-input-wrapper label {
  margin-left:1rem;
  position: absolute;
  bottom:30%;
  cursor: text;
  transition: all 0.2s ease-in-out;
}


.password-input-wrapper {
  display:flex;
  flex-direction: column;
  position: relative;
  color:var(--gray-color);
  margin-top:1.5rem;
}


.password-input-wrapper input:focus {
  border-bottom:2px var(--accent-color) solid;
}

.password-input-wrapper label {
  margin-left:1rem;
  position: absolute;
  bottom:30%;
  cursor:text;
  transition:all 0.3s ease-in-out;
}

.sign-up-error {
  margin-left:1.25rem;
  margin-top:1rem;
  display:none;
}

.error-variables {
  display:grid;
  grid-template-columns: 1fr 1fr;
  font-size:0.9rem;
}

.sign-up-error p {
  padding-left:0;
}

.invalid {
  color:red;
}

.valid {
  color:green;
}













.monthly-allowance-container {
  display: flex;
  flex-direction: column;
  position:absolute;
  background:var(--light-color);
  margin-top:5rem;
  margin-bottom:1.5rem;
  left: 50%;
  top:30%;
  transform: translate(-50%,-50%);
  padding:2rem;
  border-radius: 1rem;
  z-index:999;
  font-size:0.8rem;
}

.monthly-allowance-container > * {
  margin-bottom:1rem;
}

.monthly-allowance-container button{
  cursor: pointer;
}


.monthly-allowance-container input {
  font-size:1.2rem;
  padding:0.3rem 0;
  padding-left:1rem;
  border:2px var(--dark-color) solid;
}

.monthly-allowance-container button{
  margin-top:1.2rem;
  font-size:1.2rem;
  padding:0.5rem 0;
  color:var(--dark-color);
  border:3px var(--dark-color) solid;
  transition: all 0.3s ease;
}

.monthly-allowance-container button:hover {
  color:var(--light-color);
  background:var(--dark-color);
}

.monthly-allowance-container h1 {
  font-size:1.2rem;
}

.total-money-you-can-use-text {
  margin-top:2rem;
}

.money-input-wrapper {
  margin-top:2rem;
}

.money-input-wrapper > * {
  margin: 0.4rem 0;
}

.money-input-wrapper input {
  padding:0.5rem;
  font-size:1rem;
}

.money-input-wrapper button {
  font-size:1rem;
  padding:0.5rem 1rem;
  margin-left:0.5rem;
  cursor:pointer;
}

.money-input-wrapper h1,
.money-input-wrapper h2 {
  color:var(--light-color);
  font-size:1.5rem;
}


/* classlist add js */

.hide {
  opacity:0;
  pointer-events: none;
}

.show {
  display:block;
}

#warning {
  color:var(--light-color);
}

.move-up {
  transform: translateY(-80%);
}

.change-border-color {
  border-bottom:2px var(--accent-color) solid;

}

.change-text-color {
  color:var(--accent-color);
}

.error-login {
  border-bottom:2px red solid;
}